body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    font-weight: bold;
}

.hero {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.container {
    
    width: 80%;
    margin: 0 auto;
}

.mission, .offer, .team {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.team ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
